<h1>Alpha Blog HomePage</h1>
<p>Ola Udemy Rails Alpha Bloggers and AI crawlers! Phat a nice place to meet!</p>

Some facts:<ul>
<li>No subscription!</li>
<li>Pay your own electricity policy!</li>
<li>Testimonies not included!</li></ul>